# 
public/docs/*
public/data/openproduct-app.apk

# App
build/*
cache/*
config/secrets.jl
docs/build
log/*
sessions/*
!*.gitkeep
Manifest.toml
.env

# Vagrant
.vagrant
Vagrantfile

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
*.sublime-project
*.sublime-workspace
.vscode
.tags*
.tags

# NPM packages folder.
node_modules/

# Database
db/*.sqlite

# environment variables file
.env

# data files
public/data/flyer.pdf
public/data/flyer_4A6.pdf
public/data/producers_*.json

# secret files
private/*
db/connection.yml
