# 
public/docs/*
public/data/openproduct-app.apk

# App
build/*
cache/*
config/secrets.jl
docs/build
log/*
sessions/*
!*.gitkeep
Manifest.toml
.env

# Vagrant
.vagrant
Vagrantfile

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
*.sublime-project
*.sublime-workspace
.vscode
.tags*
.tags

# NPM packages folder.
node_modules/

# Database
db/*.sqlite

# environment variables file
.env

# data files
public/data/flyer.pdf
public/data/flyer_4A6.pdf
public/data/producers_*.json
public/data/productLink_*.json
public/data/produces_*.json
public/assets
public/pixelhuman/*

# secret files
private/*
db/connection.yml

labelOpenProduct.png


AmountExtractionHeuristicRegexes/
AutofillStates/
BrowserMetrics-spare.pma
CertificateRevocation/
CookieReadinessList/
Default/
FileTypePolicies/
First Run
FirstPartySetsPreloaded/
GrShaderCache/
Crowd Deny/
Dictionaries/
GraphiteDawnCache/
Last Version
Local State
MEIPreload/
OnDeviceHeadSuggestModel/
OpenCookieDatabase/
OptimizationHints/
OriginTrials/
PKIMetadata/
PrivacySandboxAttestationsPreloaded/
ProbabilisticRevealTokenRegistry/
SSLErrorAssistant/
Safe Browsing/
SafetyTips/
ShaderCache/
SingletonCookie
SingletonLock
SingletonSocket
Subresource Filter/
TpcdMetadata/
TrustTokenKeyCommitments/
WidevineCdm/
ZxcvbnData/
component_crx_cache/
Variations
extensions_crx_cache/
first_party_sets.db
first_party_sets.db-journal
hyphen-data/
segmentation_platform/
